.TabPanel {
    box-sizing: border-box;
    height: 100%;
}

.TabComponents {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
}

@media (min-width: 1640px) {
    .TabComponents {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 570px) {
    .TabComponents {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 359px) {
    .TabComponents {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1090px) {
    .TabComponents {
        grid-template-columns: 1fr 1fr 1fr;
    }
}